{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h1 class="mb-4">About the Project</h1>

    <p>
        This project analyzes UNESCO World Heritage Sites with special focus 
        on endangered sites across the globe.
    </p>

    <h3 class="mt-4">Technologies Used</h3>
    <ul>
        <li>Python (Flask)</li>
        <li>Tableau Public</li>
        <li>HTML, CSS, Bootstrap</li>
        <li>Data Visualization Techniques</li>
    </ul>

</div>

{% endblock %}